!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  =link_to ""
  %body



%div.wrapper
  %div.chat-side
    %div.side-header
      %p=Side
%div.chat-main
  %div.main-header
    %div.main-header

  %div.header__logo



