!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  =link_to ""
  %body

%div.wrapper
  %div.chat_side
    %div.side-header
      %p#side_header_user_name_box Nickname
      %div.side_header_icons
        %ul
          %li.side-header__box__menu__new-group icon_a
          %li.side-header__box__menu__edit-user icon_b
    %div.side_groups
      %div.groups
        %div.group_name Nickname
        %div.group_massage message
  %div.chat_main
    %div.main-header
      %p pen
      -# %div.main_head_left-box
      -#   %p#main_header_group_name Main-Head_LeftBox
      -# %div.main_head_edit_btn
      -#   %p Main_Head_EditBtn#atode_btn
    %div.massages
    -# %div.form
    -#   %div.input_box
    -#     %form.form-area#atode_form
    -#     %div.right_box
    -#       %div.submit_btn#icon_ausome
    -#         %p.submit_btn#icon_ausome