%div.wrapper
  %div.chat_side
    %div.side-header
      %div.side-header__box
        %p.side-header__box__user-name Nickname
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to '#' do
              %i.fa.fa-cog.fa-2x
          %li.side-header__box__menu__edit-user
    %div.side-groups
      %div.group
        %div.group__group-name group-name
        %div.group__latest-message latest-message
      %div.group2
        %div.group__group-name group-name2
        %div.group__latest-message latest-message2
      %div.group3
        %div.group__group-name group-name3
        %div.group__latest-message latest-message3
  %div.chat-main
    %div.main-header
      %div.main-header__left-box
        %p.main-header__left-box__group-name group-name
        %p.main-header__left-box__group-members Member：xxxx oooo
      %div.main-header__edit-btn
        %p EDIT
    %div.messages
    %div.form
      %div.input-box
        %div.input_box__form
          %form.new-message-input
            -# = link_to '#' do
            -#   .fa.fa-edit
        %div.submit_btn
          %p Send
