!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  =link_to ""
  %body



%div.wrapper
  %div.chat-side
    %div.side-header
      %p#side_header_user_name_box Nickname
    %div.side-header-icons
      %ul
        %li#icon_ausome
        %li#icon_ausome
    %div.side-groups
      %p Side-Groups
  %div.chat-main
    %div.main-header
      %div.main-head_left-box
        %p#main-header-group-name Main-Head_LeftBox
      %div.main-head_edit_btn
        %p Main-Head_EditBtn#atode_btn
    %div.massages
    %div.form
      %div.input-box
        %form.form-area#atode_form
        %div.right-box
          %div.submit-btn#icon_ausome
            %p.submit-btn#icon_ausome