!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  =link_to ""
  %body

%div.wrapper
  %div.chat_side
    %div.side-header
      %div.side-header__box
        %p.side-header__box__user-name Nickname
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
          %li.side-header__box__menu__edit-user
    %div.side-groups
      %div.group
        %div.group__group-name group-name
        %div.group__latest-message latest-message
      %div.group2
        %div.group__group-name group-name2
        %div.group__latest-message latest-message2
      %div.group3
        %div.group__group-name group-name3
        %div.group__latest-message latest-message3
  %div.chat_main
    %div.main-header
      %p pen
      -# %div.main_head_left-box
      -#   %p#main_header_group_name Main-Head_LeftBox
      -# %div.main_head_edit_btn
      -#   %p Main_Head_EditBtn#atode_btn
    %div.massages

    %div.form
      -# %div.input_box
    -#     %form.form-area#atode_form
    -#     %div.right_box
    -#       %div.submit_btn#icon_ausome
    -#         %p.submit_btn#icon_ausome