!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  =link_to ""
  %body



%div.wrapper
  %div.chat-side
    %div.side-header
      %p Side-Head
    %div.side-main
      %p Side-Main
  %div.chat-main
    %div.main-header
      %div.main-head_left-box
      %p Main-Head_LeftBox
      %div.main-head_edit_btn
      %p Main-Head_LeftBox
        %p Main
    %div.header__logo



