@import "./reset";
// @_variable "./reset";

// $SideMainColor: #253141;

.wrapper{
  width: 100%;
  height: 100%;
}
.chat-side{
  width: 260px;
  padding: 0 20px;
  height: 100%;
  color: #FFFFFF;
  
}
.side-header{
  background-color: #253141;
}

#side_header_user_name_box Nickname{
}

.icon_1{
  width: 20px;
  height: 20px;
}

.icon_2{
  width: 20px;
  height: 20px;
}

.side-main{
  background-color: #2F3E51;

}

// %div.wrapper
//   %div.chat-side
//     %div.side-header
//       %p#side_header_user_name_box Nickname
//       %div.side-header-icons
//         %ul
//           %li.icon_1 awesome
//           %li.icon_2 awesome
//     %div.side-groups
//       %div.Side-Groups
//       %div.Side-1 Nick
//       %div.Side-2
//       %div.Side-3