@import "./reset";
// @_variable "./reset";
// $SideMainColor: #253141;

*{
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.chat_side{
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
}

.side-header{
  background-color: #253141;
  width: 300px;
  padding: 0 20px;
  height: 82px;
}

.side-header__box__user-name{
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.side-header__box__menu{
background: #FFFFFF;
width: 20px;
height: 20px;
}


.side-header__box__menu__new-group{
  // position:absolute;

}


.side-header_box_menu_edit-user{
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 82px);
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
}
.group{


}


.chat-main{
  width: calc(100vw - 300px);
  height: 100%;
  background:yellow;
}


// %div.wrapper
//   %div.chat_side
//     %div.side-header
//       %p.side-header__box__user-name Nickname
//       %div.side_header_icons
//         %ul..side-header_box_menu
//           %li.side-header__box__menu__new-group icon_a
//           %li.side-header__box__menu__edit-user icon_b
//     %div.side_groups
//       %div.groups
//         %div.group_name Nickname
//         %div.group_massage message
//   %div.chat_main
//     %div.main-header
//       %p pen
//       -# %div.main_head_left-box
//       -#   %p#main_header_group_name Main-Head_LeftBox
//       -# %div.main_head_edit_btn
//       -#   %p Main_Head_EditBtn#atode_btn
//     %div.massages
//     -# %div.form
//     -#   %div.input_box
//     -#     %form.form-area#atode_form
//     -#     %div.right_box
//     -#       %div.submit_btn#icon_ausome
//     -#         %p.submit_btn#icon_ausome